@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Babylonica&display=swap');

:root {
    --font1: "Babylonica", cursive;
    ;
}

* {
    padding: 0px;
    margin: 0px;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px;
    background-image: linear-gradient(to right, #FFFFFF, #EA8498);
    flex-wrap: wrap;
}

header .branding {
    font-family: var(--font1);
    font-weight: 100px;
    font-size: clamp(2rem, 2vw, 4rem);
    color: #B22D93;
    text-align: center;
}

nav {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 15px;
    padding: 10px 0px;
}


header>nav a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    text-shadow: 0.5px 0.5px 0.5px black;
    font-size: 1.2em;
    padding: 0.5em 0.5em;
    margin-right: 10px;
    font-weight: bold;
}

header>nav a:hover {
    background-color: #b22d9379;
    padding: 0.5em 0.5em 0em 0.5em;
    border-radius: 2px 2px 0px 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.221);
}

.branding {
    display: flex;
    align-items: center;
    gap: clamp(0px, 10vw, 200px);
}


#fundo {
    padding-top: 10px;
}

article {
    position: relative;
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: white;
}

.texto-posicionado {
    position: absolute;
    bottom: 20px;
    right: 20px;
    max-width: 400px;
    text-align: right;
}

.logo {
    width: 220px;
}

#sobre {
    display: flex;
    margin: auto;
}

section#fundo {
    width: 100%;
    height: 100vh;
    background-size: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.4)), url('imagens/foto_fundog.jpeg');
    background-repeat: no-repeat;
    position: relative;
}

#atendimento {
    background-color: #EA8498;
    background-image: url('imagens/detailed_hand_painted_pink_watercolour_background_0509.jpg');
    background-size: cover;
    height: 300px;
    display: flex;
    padding: 100px;
    border: 0px;
    margin: auto;
}

#atendimento>div {
    background-color: white;
    margin: auto;
    padding: 100px;
    text-align: center;
    border-radius: 20px;
}

#contato {
    text-align: center;

    padding: 50px 0px 50px 0px;
}

footer {
    padding: 10px;
    margin: auto;
    text-align: center;
    background-image: linear-gradient(to right, #FFFFFF, #EA8498);
}

footer>p {
    margin: 0%;

}