@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Babylonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kapakana:wght@300..400&display=swap');

:root {
    --font1: "Babylonica", cursive;
    --font2: "Whisper", cursive;
    --font3: "Kapakana", cursive;
    ;
}

* {
    padding: 0px;
    margin: 0px;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px;
    background-image: linear-gradient(to right, #FFFFFF, #EA8498);
    flex-wrap: wrap;
}

header .branding {
    font-family: var(--font1);
    font-weight: 100px;
    font-size: clamp(1.8rem, 2vw, 4rem);
    color: #B22D93;
    text-align: center;

}

nav {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 15px;
    padding: 10px 0px;
}


header>nav a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    text-shadow: 0.5px 0.5px 0.5px black;
    font-size: 1.2em;
    padding: 0.5em 0.5em;
    margin-right: 10px;
    font-weight: bold;
}

header>nav a:hover {
    color: #ab5d99;
}

.branding {
    display: flex;
    align-items: center;
    gap: clamp(0px, 10vw, 200px);
}


#fundo {
    padding-top: 10px;
}

article {
    position: relative;
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: white;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.4)), url('imagens/foto_fundog.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

section#fundo {
    padding: 0px;
}


.texto-posicionado {
    font-family: var(--font2);
    font-size: 2.5em;
    text-shadow: 2px 2px 2px black;
    position: absolute;
    bottom: 80px;
    right: 80px;
    max-width: 90%;
    text-align: right;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.texto-posicionado:hover {
    background-color: rgba(0, 0, 0, 0.341);
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
}

#quemSou {
    text-align: center;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.sobre {
    display: flex;
    margin: 0 auto;
    width: fit-content;
    padding: 30px;
}

.sobre>picture {
    padding-left: 50px;
    padding-bottom: 50px;
    opacity: 90%;
}

.sobre>picture:hover {
    opacity: 100%;
}

.sobre>p {
    padding-right: 50px;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    font-size: 17px;

}

#atendimento {
    background-color: #EA8498;
    background-image: url('imagens/detailed_hand_painted_pink_watercolour_background_0509.jpg');
    background-size: cover;
    height: 1000px;
    display: flex;
    padding: 100px;
    border: 0px;
    margin: auto;
    background-attachment: fixed;
}

#atendimento>div {
    margin: auto;
}

.container {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.box {
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    min-width: 200px;
    min-height: 400px;
    max-width: 400px;
    max-height: 600px;
    font-size: clamp(1rem, 2vw, 1.5rem);
    flex: 1 1 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.topo-box {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-bottom: 10px;
}

.topo-box img {
    width: 80px;
    height: auto;
}

.topo-box h3 {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.box p,
.box ul {
    margin-top: 50px;
    text-align: justify;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 700px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .box {
        max-width: 90%;
    }
}

#contato {
    margin-top: 50px;
    text-align: center;
    height: 600px;
}

.divContatos {
    text-align: center;
    padding: 50px 0px 50px 0px;
}

footer {
    padding: 10px;
    margin: auto;
    text-align: center;
    background-image: linear-gradient(to right, #FFFFFF, #EA8498);
}

footer>p {
    margin: 0%;

}